* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
//   background: #e0ecec;
}
:root {
  --bg1: #49bbbd;
  --bg2: #ffffff4d;
  --bg3: #136cb5;
  --bg4: white;
  --text: white;
}
.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.column {
  flex-direction: column;
}
.nav {
  justify-content: space-around;
  padding: 10px 20px;
  background: var(--bg1);

  .logo {
    color: var(--text);
  }

  .menu {
    color: var(--text);
  }

  .login {
    .button1 {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background: var(--bg4);
    }
    .button2 {
      padding: 10px 20px;
      border-radius: 30px;
      border: none;
      background: var(--bg2);
    }
  }
}



.left{
 width: 400px;
 height: 250px;
//  padding: 20px 10px;
 border: 1px solid rgb(37, 29, 29);
 p{
   margin-top: 15px;
   margin-bottom: 15px;
 }
 button{
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background:var(--bg2);
 }
}

.section1{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    .imgggg{
        width: 300px;
        height: 400px;
        border: 1px solid red;
        margin-top: 50px;

        img{

            object-fit: contain;
            width:100%;
        }

    }

}